body, html {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-weight: 300;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

a {
	color: #4CB5FD;
	font-style: italic;
	text-decoration: none;
	
	&:hover {
		opacity: 0.7;
	}
}

.divider {
	position: relative;
	width: 100%;
	height: 120px;
	text-align: center;
	font-size: 72px;
	color: #B6B6B6;

	&:before {
		content: '';
		border-bottom: 1px solid #DCDCDC;
		display: block;
		position: absolute;
		width: 100%;
		height: 1px;
		top: 50%;
	}

	&:after {
		content: '~';
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -60px;
		background: #FFF;
		width: 120px;
		height: 120px;
		line-height: 120px;
	}
}

.side {
	width: 33%;
	text-align: center;
}

.avatar {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-image: url('../img/avatar.jpeg');
	background-size: cover;
	margin: 26px auto;
}

h1, h2, h3 {
	font-weight: 300;
	color: #383838;
	margin: 0;
}

h1 {
	font-size: 48px;
}

h3 {
	font-size: 20px;
	font-weight: 200;
	font-style: italic;
}
